// colors
$primary-color: #3f72af !default;
$light-color: #dbe2ef !default;
$dark-color: #112d4e !default;
$bg-color: #f9f7f7 !default;

$warning-color: #f8b400 !default;
$danger-color: #db4c3f !default;


// size
$header-height: 40px;
$sidebar-width: 300px;

// layout
$page-wrapper-padding: 36px;