@import '../../styles/variables.scss';

.home-page-wrapper {
  padding: $page-wrapper-padding;

  .home-title {
    font-weight: 700;
    color: #202020;
  }
}

.todo-list-wrapper {
  padding: 16px 0;
}